@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

/* ! Universal Selector */
* {
  font-family: 'Roboto Mono', monospace;
  color: black;
  font-size: 16px;
}

/* ! Header */
header {
  margin-left: 50px;
  user-select: none;
}

header h1 {
  margin-left: -30px;
  display: inline-block;
  color: rgb(250, 0, 75);
  font-size: 180px;
}

header nav {
  padding-top: 400px;
  margin-right: 30px;
  float: right;
  direction: rtl;
}

header nav li a {
  font-size: 40px;
  color: rgb(250, 0, 75);
}

header nav li a:hover {
  font-size: 40px;
  color: white;
}

/* ! Body */
body {
  background-image: url(../images/ROX_2368.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: absolute;
  border: 22px solid rgb(250, 0, 75);
}

.main article p {
  margin-left: 200px;
  text-align: left;
  font-size: 18px;
  max-width: 1200px;
}

.about,
.work,
.contact {
  font-size: 90px;
  direction: rtl;
  color: rgb(250, 0, 75);
}

.sections {
  color: pink;
  font-size: 30px;
  padding: 20px;
  margin-left: 77px;
}

.helloworld {
  padding-top: 200px;
}

.introduction {
  padding-top: 50px;
}

.services {
  padding-top: 50px;
}

.sonicspace {
  padding-top: 50px;
}

.helpingartists {
  padding-top: 50px;
}

.identity {
  padding-top: 32px;
}

.buzzword {
  padding-top: 18px;
}

.artistry {
  padding-top: 32px;
}

.therealyou {
  padding-top: 18px;
}

.text {
  color: black;
  margin-left: 120px;
  line-height: 1.5;
}

.about-article {
  margin-top: 1000px;
}


.work-article {
  margin-top: 1100px;
}

.work-article p {
  text-align: center;
}

.contact-article {
  margin-top: 1121px;
}

.contact-article a {
  font-weight: 800;
}

.footer {
  margin-top: 20px;
  background-color: pink;
  margin-top: -40px;
}

.footer p {
  font-size: 15px;
  color: lightslategray;
  text-align: center;
  font-weight: 300;
}

.blinking {
  animation: blinkingText 1.5s infinite;
}

@keyframes blinkingText {
  0% {
    color: lightslategray;
  }

  30% {
    color: lightslategrey;
  }

  60% {
    color: transparent;
  }

  80% {
    color: transparent;
  }

  100% {
    color: lightslategray;
  }
}

.coffee {
  font-size: 350px;
  font-weight: 900;
  color: pink;
}

.nash {
  color: lightslategray;
  font-size: 36px;
  margin-left: 30px;
  padding-top: 100px;
}

.joe {
  color: lightslategray;
  font-size: 18px;
  margin-left: 50px;
  padding-top: 10px;
}

.divwork {
  text-align: center;
  margin-top: 10vh;
}

.divcontact {
  text-align: center;
  margin-top: 5vh;
}

.divwork a {
  font-size: 24px;
}

.divcontact a {
  font-size: 24px;
}

.contact {
  padding-bottom: 41vh;
}

.links a {
  color: lightslategray;
  font-size: 1.2em;
}